hardhat/node_modules
hardhat/atrifacts
hardhat/cache
# hardhat/contracts.old
hardhat/typechain-types
hardhat/.env
client/node_modules
client/build
client/.env
client/public/env.js
client/constants/index.js